<%= erb :header %>
<div class="container">
  <h1 class="text-center">Create new item </h1>

  <form method="POST" action ="/items/create">
    <div class="mb-3">
      <label for="name" class="form-label">Items Name: </label>
      <input name="name" class="form-control" type ="text" placeholder="Item name" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price: </label>
      <input name="price" class="form-control" type ="number" placeholder="Item price" required>
    </div> 
    <select class="form-select" name="category" >
    <% category.each do |category| %>
      <option value=<%= category.id%>><%= category.name%></option>
    <% end %>
    </select>
    <button class="btn btn-primary" type ="submit">Add item</button>
  </form>
</div>
<%= erb :footer %>