<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FOOD OMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1 class="text-center">Edit</h1>

  <form method="post" action ="/category/" >
    <div class="mb-3">
      <label for="name" class="form-label">Categories Name: </label>
      <input name="name" class="form-control" type ="text" placeholder="Item name">
    </div>
    <button class="btn btn-primary" type ="submit">Insert New Categories</button>
  </form>
</div>
</body>
</html>